/* version 0.1 */
/* ========================== Layout ========================== */


/* --barra de navegação-- */
.img-logo {
    height: 40px;
    width: 132px;
    display: block;
    background: url(imagens/spotify.svg) no-repeat;
    border: 1px solid red;
    background-size: contain;
    color: transparent;
}
nav.navbar-transparente{
    background-color: red;
}

/* ========================== Tipografia ========================== */